html {
    background-color: lightblue;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

#cell {
min-width: 1em;
min-height: 1em;
width: 100%;
height: 100%;
background-color: forestgreen;
border: solid black;
}

#row {
    min-width: 1em;
    min-height: 1em;
    height: 100%;
    width: 100%;
    border-color: forestgreen;
}

.wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

#btn {
    padding: .25;
    margin-bottom: 1em;
    transition: all .05s;

}

.btn-change {
    border: solid black 2px;
}

#btn:hover {
    scale: 1.1;
}