html {
    background-color: lightblue;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    height: 100px;
    width: 100px;

   
}

#cell {
    height: 10px;
    width: 10px;
    background-color: lightgreen;
    border: solid black

}
.wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 100px;
}
button {
    padding: .25%;
    font-size: 2em;
    transition: all .06s;
}

.btn-change {
    border: solid black 2px;
}

button:hover {
    scale: 1.1;
}

.grid-wrap {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 1rem;
    height: 500px;
    border: solid darkblue 3px;
}
