html {
    background-color: lightblue;
    box-sizing: border-box;
}

#container {
    flex-wrap: wrap;
    display: flex;
    width: 500px;
    height: 500px;
    border: solid black 1px;
    padding: 0px;
    border: solid pink 2px; 
}

.header {
    text-align: center;
    font-size: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px pink;
    margin-bottom: .5em;
}

#cell {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: thin black 1px;
    opacity: 1

}

#square {
    flex: 1;
    border: solid black 1px;
}

.button-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 100px;
    margin-top: 2em;

}
button {
    padding: .25%;
    font-size: 1.3em;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 15%
}

button#grid-size{
    background-image: linear-gradient(to right, #eeaf61, #fb9062);
}

button#black{
    background-image: linear-gradient(to right, #ee5d6c, #ce4993);
}

button#psycho{
    background-image: linear-gradient(to right, 	#ce4993, #a9286f )
}

button#reset-btn {
    background-color: #8a21a8;
}
button:hover {
    color: yellow;
    text-shadow: 2px 2px black;
}

button.change {
    border-radius: 20%;
    background-color: rgb(35, 40, 68);
}

button:active {
    scale: 1.1;
}

.grid-wrap {
    background-image: url(images/beach.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25%;
    padding: 5%;
    height: 500px; 
    border: solid pink 3px;
    gap: 20px;
}

.grid-wrap.grid-wrap-night {
    background-image: url(images/night-beach.png);
    background-size: cover;
}